<!DOCTYPE html>
<html lang="en" ng-app="formApp">
<head>
    <meta charset="UTF-8">
    <title>Form Assignment</title>
        <script src="bower_components/angular/angular.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="assignment.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="assignment.js"></script>
    </head>
    <body ng-controller="formController as ctrl">

    <div class="row">
        <h1>todos</h1>
        <input id=addTask type="text" placeholder="what needs to be done?" width="100%" ng-model="ctrl.item" ng-keyup="ctrl.addToList($event)">

    </div>
    <div ng-show="ctrl.list.length">
        <ul id="toDoList">
            <li ng-repeat="i in ctrl.list">
                <input type="checkbox" name="checkbox" ng-model="task.completed"/>
                <span class="completed-{{task.completed}}">{{ i.item }}</span>


            </li>
        </ul>
    </div>

    </body>
</html>