#toDoList li .completed-true {
    color: lightgrey;
    text-decoration: line-through;
}

body {
    background-color: lightcyan;
}

.row {
    display: inline-block;


}

h1 {
    text-align: center;
}

#addTask {
    align-content: center;
}