<!DOCTYPE html>
<html lang="en" ng-app="CartApp">
<head>
  <meta charset="UTF-8">
  <title></title>
  <script src="bower_components/angular/angular.js"></script>
  <link rel="stylesheet" href="cart.css">
  <script src="js/index.js"></script>
</head>
<body ng-controller="CartController as ctrl">
<h1>Items</h1>
<div class="row">
  <span> Name: </span>
  <input type="text" placeholder="Name of your item" size="30" ng-model="ctrl.item">
</div>

<div class="row">
  <span> Quantity: </span>
  <input type="number" placeholder="Quantity" ng-model="ctrl.quantity" min="1">
</div>
<div class="row">
  <span></span>
  <button ng-disabled="!ctrl.item" ng-click="ctrl.addToCart()">
    Add to Cart
  </button>
</div>
<div ng-show="ctrl.cart.length">
  <h2>Items in your cart</h2>
  <ul>
    <li ng-repeat="i in ctrl.cart">
      {{ i.item }} ({{ i.quantity }})
      <button type="button" ng-click="ctrl.removeFromCart($index)">Remove</button>
    </li>
  </ul>
</div>
</body>
</html>